.ui-page-theme-a .ui-btn #login_log{background: #4ebca8;}
.ui-checkbox .ui-btn{text-align: right; width: 160px; height: 30px; line-height: 30px; font-weight: normal; font-size: 0.9em;}
.ui-btn.ui-checkbox-off::after, .ui-btn.ui-checkbox-on::after, .ui-btn.ui-radio-off::after, .ui-btn.ui-radio-on::after{display: none;}
.ui-btn{padding: 3px;}

.ui-mobile .ui-page-active {overflow-x: visible;}
.ui-page-theme-a a{font-size: 1em; line-height: 20px;}

.ui-grid-a .ui-block-a{width: 45%;}

.ui-grid-b{overflow: visible;}
.ui-grid-b > .ui-block-a{width: 50%; background:  #fff; height: 40px; border: 1px solid #efefef; border-radius: 5px; box-shadow: 1px 1px 1px #aaa; margin-top: 3px; line-height: 40px;}
.ui-grid-b > .ui-block-b, .ui-grid-b > .ui-block-c{width: 20% ; margin-left: 20px;  background:  #fff; height: 40px; border: 1px solid #efefef; border-radius: 5px; box-shadow: 1px 1px 1px #aaa; margin-top: 3px; line-height: 40px;}
.ui-grid-b > .ui-block-b a, .ui-grid-b > .ui-block-c a{color: #999; text-align: left; padding-left: 3px;}
.ui-grid-b > .ui-block-a a{color: #999; text-align: left; padding-left: 3px; }


/* SPLASH */
.mainbg{background: #baf4ea; position: relative;}
    
    .mainbg .intro{width: 100%; height: 100%;}
    .mainbg .intro img{position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);}

    .mainbg .intro .main_text{position: absolute; top: 58%; left: 55%; transform: translate(-50%, -50%); width: 222px; height: 75px; color: #277467; font-size: 0.9em; font-weight: bold;}
    .mainbg .intro .main_text p{text-align: left;}
    .mainbg .intro .main_text p span{font-size: 1.5em;}


/* ONBODING */

   .onbord .next img{position: absolute; right: 8%; top: 7%;}
   .onbord .speak img{position: absolute; left: 8%; top: 6%;}
   .onbord .onbord_img{position: absolute; left: 50%; top: 15%; transform: translate(-50%);}
   .onbord p{width: 100%; position: absolute; left: 50%; bottom: 30%; transform: translate(-50%); text-align: center;}
   .onbord .on_bar{position: absolute; left: 50%; bottom: 25%; transform: translate(-50%);}
   .onbord .join{position: absolute; left: 50%; bottom: 5%; transform: translate(-50%);}

   #onbording4 .speak img{position: absolute; left: 8%; top: 7%;}
   #onbording4 .onbord_img{position: absolute; left: 50%; top: 8%; transform: translate(-50%);}
   #onbording4 p{width: 100%; position: absolute; left: 50%; bottom: 38%; transform: translate(-50%); text-align: center;}
   #onbording4 .on_bar{position: absolute; left: 50%; bottom: 33%; transform: translate(-50%);}
   #onbording4 .join{position: absolute; left: 50%; bottom: 5%; transform: translate(-50%);}


/* LOGIN */

#login a.back{width: 150px;}
#login .place{margin-left: 50%; transform: translate(-50%);}
.ui-page-theme-a .ui-btn #login_log{background: #4ebca8;}

#login .log_jo input{height: 54px;}

#login .ui-checkbox .ui-btn{text-align: right; width: 160px; height: 30px; line-height: 30px; font-weight: normal; font-size: 0.9em;}
#login .ui-btn.ui-checkbox-off::after, #login .ui-btn.ui-checkbox-on::after, #login .ui-btn.ui-radio-off::after, #login .ui-btn.ui-radio-on::after{display: none;}
#login .ui-btn{padding: 3px;}

#login .login_join{margin-top: 15px; text-align: right; font-weight: normal; font-size: 0.9em;}
#login .login_log{width: 100%; height: 54px; margin-top: -12px; background: #4ebca8; border-radius: 5px; font-weight: bold; color: #fff; text-align: center; line-height: 54px;}

#login .sns{width: 260px; height: 100px; margin-top: 125px;}
#login .sns h5{margin-bottom: 20px;}
#login .sns li.mid{margin: 0px 40px;}


/* #JOIN */
#join .ui-btn {padding: 2px;}
#join h1 {font-size: 0.9em;}

#join .place{margin-left: 50%; transform: translate(-50%);}
#join #gender .ui-popup{top: 160px; width: 150px; left: 0%;}
.ui-page-theme-a a{font-size: 1em; line-height: 20px;}

.ui-grid-a .ui-block-a{width: 45%;}
#join .ui-grid-a .ui-block-b{width: 45%; margin-left: 9%; background:  #fff; height: 40px; border: 1px solid #efefef; border-radius: 5px; box-shadow: 1px 1px 1px #aaa; margin-top: 7px; line-height: 40px; }

#join .ui-grid-a .ui-block-b a{color: #999; text-align: left; padding-left: 3px; }

/* 이걸로 적용해서 수정 예정  */
/* #join .ui-grid-a .ui-block-b a{color: #999;
    text-align: left;
    padding-left: 3px;
    top: -10px;
    max-height: 20px;
    max-width: 125px;
  } */


.ui-grid-b{overflow: visible;}
.ui-grid-b > .ui-block-a{width: 50%; background:  #fff; height: 40px; border: 1px solid #efefef; border-radius: 5px; box-shadow: 1px 1px 1px #aaa; margin-top: 3px; line-height: 40px;}
.ui-grid-b > .ui-block-b, .ui-grid-b > .ui-block-c{width: 19% ; margin-left: 20px;  background:  #fff; height: 40px; border: 1px solid #efefef; border-radius: 5px; box-shadow: 1px 1px 1px #aaa; margin-top: 3px; line-height: 40px;}
.ui-grid-b > .ui-block-b a, .ui-grid-b > .ui-block-c a{color: #999; text-align: left; padding-left: 3px;}
.ui-grid-b > .ui-block-a a{color: #999; text-align: left; padding-left: 3px; }

#join .ui-block-c .ui-popup{top: 130px; width: 150px; left: 0%;}

.ui-mobile [data-role="dialog"]{width: 60%; height: 165px; overflow-y: scroll; overflow-x: hidden; max-width: 475px;}

#join .nextTo{margin-left: 15%; margin-top: 10%;}

#join .ui-selectmenu.ui-popup {min-width: 10em;}

#join .ui-popup.ui-body-inherit {border-width: 1px; border-style: solid; top: 105px; padding: 2px; width: 160px;}

/* 성별 선택부분 다이얼로그*/
#join_gender-listbox.ui-popup.ui-body-inherit { min-width: 0px; border-width: 1px; border-style: solid; top: 107px; height: 160px; overflow-y: scroll; width: 194px; left: 6%;}

/* 생년 선택부분 다이얼로그*/
#join_year-listbox.ui-popup.ui-body-inherit { min-width: 0px; border-width: 1px; border-style: solid; top: 107px; height: 165px; overflow-y: scroll; left: -6%; width: 215px;}

/* 월 선택부분 다이얼로그 */
#join_month-listbox.ui-popup.ui-body-inherit { min-width: 0px; border-width: 1px; border-style: solid; top: 107px; height: 165px; overflow-y: scroll; width: 123px;}

/* 일 선택부분 다이얼로그 */
#join_day-listbox.ui-popup.ui-body-inherit {min-width: 0px; border-width: 1px; border-style: solid; top: 107px;  height: 165px; overflow-y: scroll; width: 123px;}

/* 성별, 생년, 월, 일 : 다이얼로그 뜨는 내부 선택창 세부 조절 */
#join .ui-listview > li > a.ui-btn {border-width: 0px 0px 1px; border-style: solid; padding-left: 5px;}
#join .ui-listview > li > a.ui-btn:hover{ color: #999; border-bottom: #333 1px solid;}







/* 시작전1 */
#intro_top{border-bottom: 1px solid #eee; margin-top: 10%;}
#intro_top h1{text-align: center;}
#intro_top p{width: 241px; height: 100px; margin-top: 25px; margin-left: 50%; transform: translate(-50%); }

#intro_mid{margin-top: 20px; }
#intro_mid ul{width: 300px; height: 290px; margin-left: 52%; transform: translate(-50%); }
#intro_mid ul li{line-height: 2; width: 98%}
#intro_mid ul li .left {width: 60px; height: 67px;}
#intro_mid ul li .right {width: 230px; height: 67px;}
#intro_mid ul li img{padding-top: 3%; padding-left: 20%;}
#intro_mid .intro_title{font-size: 1em; font-weight:bold ; color: #333;}
#intro_mid .ui-checkbox input{left: -2em; border-radius: 50px;}
#intro_mid #intro_check1{margin-top: 4%;}
#intro_mid #intro_check2{margin-top: 6%;}
#intro_mid #intro_check3{margin-top: 4%;}
#intro_mid #intro_check4{margin-top: 4%;}

#intro_bottom{clear: both; margin-top: 20px; margin-left: 5%;}
#intro_bottom .intbot{width: 400px; height: 110px; text-align: justify; margin-left: 50%; transform: translate(-50%);}
#intro_bottom .ui-btn{overflow:visible; line-height: 35px; margin-top: 10px;}
#intro_bottom .intbot .btn_bottom{height: 40px; border: 1px solid #eee; background-color: ccc; font-size: 1em; font-weight: bold;}
#intro_bottom .intbot .btn_bottom:hover{font-size: 1em; font-weight: bold;}
.description{font-size: 0.73em; color: #999;}

/* 시작전2 */
#intro_top2{border-bottom: 1px solid #eee; margin-top: 10%;}
#intro_top2 h1{text-align: center;}
#intro_top2 p{width: 241px; height: 100px; margin-top: 25px; margin-left: 50%; transform: translate(-50%); }

#intro_mid2{margin-top: 20px; }
#intro_mid2 ul{width: 300px; height: 290px; margin-left: 52%; transform: translate(-50%); }
#intro_mid2 ul li{line-height: 2; width: 98%}
#intro_mid2 ul li .left {width: 60px; height: 67px;}
#intro_mid2 ul li .right {width: 230px; height: 67px;}
#intro_mid2 ul li img{padding-top: 3%; padding-left: 20%;}
#intro_mid2 .intro_title{font-size: 1em; font-weight:bold ; color: #333;}
#intro_mid2 .ui-checkbox input{left: -2em; border-radius: 50px;}
#intro_mid2 #intro_check5{margin-top: 4%;}
#intro_mid2 #intro_check6{margin-top: 6%;}
#intro_mid2 #intro_check7{margin-top: 4%;}
#intro_mid2 #intro_check8{margin-top: 4%;}

#intro_bottom2{clear: both; margin-top: 20px; margin-left: 5%;}
#intro_bottom2 .intbot{width: 400px; height: 110px; text-align: justify; margin-left: 50%; transform: translate(-50%);}
#intro_bottom2 .ui-btn{overflow:visible; line-height: 35px; margin-top: 10px;}
#intro_bottom2 .intbot .btn_bottom{height: 40px; border: 1px solid #eee; background-color: ccc; font-size: 1em; font-weight: bold;}
#intro_bottom2 .intbot .btn_bottom:hover{font-size: 1em; font-weight: bold;}

/* 시작전3 */
#intro_top3{border-bottom: 1px solid #eee; margin-top: 10%;}
#intro_top3 h1{text-align: center;}
#intro_top3 p{width: 241px; height: 100px; margin-top: 25px; margin-left: 50%; transform: translate(-50%); }

#intro_mid3 strong {margin-left: 40px;}
#intro_mid3{margin-top: 20px; padding-left: 10px;}
  .moving .ui-radio .ui-btn {margin-left: 40px;}
  .moving .ui-btn {line-height: 1.3;}
#intro_mid3 .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {border-top-width:1px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
#intro_mid3 .ui-collapsible-heading .ui-btn{height: 35px;}
#intro_mid3 .ui-btn-icon-left:after{margin-top: -9x;}
#intro_mid3 .ui-collapsible-heading .ui-btn{padding-top: 17px;}
#intro_mid3 .ui-btn:hover{background-color: #efefef; color: #277467;}
#intro_mid3 .moving label{font-size: 0.9em; line-height: 2; font-weight: 600;}
#intro_mid3 .moving label:hover{background-color: #efefef; color: #277467; }

#intro_bottom3{clear: both; margin-top: 20px; margin-left: 5%;}
#intro_bottom3 .intbot{width: 400px; height: 110px; text-align: justify; margin-left: 50%; transform: translate(-50%);}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* #MAIN */
.content{background: #fff;}
/* 게시판 글. 자유 게시판, 정보 게시판 동일 */
.board .board_content{width: 90vw; height: 140px;}
.board .board_content .board_left{width: 49vw; margin-left: 2%; position: relative;} /* 단위 vw로 변경 */

.board .board_content .board_left .user .user_p{margin-left: 10px; font-size: 0.9em; margin-top: -3px;} /* 폰트사이즈 변경 */
.board .board_content .board_left .user .user_p span{font-size: 0.7em; color: #787878; margin-left: 2px;} /* 폰트사이즈 변경 */

.board .board_content .board_left .con_text{margin-top: 7px;}
.board .board_content .board_left .con_text .con_head{font-size: 0.8em; font-weight: bold;} /* 폰트사이즈 변경 */
.board .board_content .board_left .con_text .con_con{font-size: 0.7em; margin-top: 7px; line-height: 1.3em;} /* 폰트사이즈 변경 */

.board .board_content .board_left .con_react .like{margin-top: 10px; width: 70px;}
.board .board_content .board_left .con_react .like .icon_like{position: absolute; left: 0px; bottom: 4px;}
.board .board_content .board_left .con_react .like .count{position: absolute; left: 23px; bottom: 3px; font-size: 0.9em;} /* 폰트사이즈 변경 */

.board .board_content .board_left .con_react .comm{margin-top: 10px;}
.board .board_content .board_left .con_react .comm .icon_comm{position: absolute; left: 70px; bottom: 5px;}
.board .board_content .board_left .con_react .comm .count{position: absolute; left: 95px; bottom: 3px;}

.board .board_content{border-top: 1px solid #b1ccc8; padding-top: 10px; margin-top: 10px;}

#main .place{margin-left: 50%; transform: translate(-50%);}

  /* #main_content */
  #main_content h3{margin-top: 20px; width: 90vw; background-color: rgba(78, 188, 168, 0.3); border-radius: 10px 10px 0 0; box-shadow: 1px 1px 5px #aaa; text-align: center; padding: 4px 0; font-size: 1em;} /* 수정 */
  #main_content h5{margin-top: 10px; margin-left: 51%; font-weight: normal; font-size: 0.75em;} /* 마진 수정,  폰트사이즈 추가 */
  #main_content #popu_b h5, #main_content .event_b h5{margin-left: 47%;} /* 수정 */


  #main_content .main_search_wrap{position: relative;}
  #main_content .main_search_wrap .main_search{background: #f7f9f9;}
  #main_content .main_search_wrap h3{margin-top: 0;}

  #main_content .main_search_wrap ul li{position: absolute;}
  #main_content .main_search_wrap ul li.main_search_icon{top: 5px; right: 8%;} /* 수정됨 */
  #main_content .main_search_wrap ul li.main_mike_icon{top: 8px; right: 2%;} /* 수정됨 */
  #main_content .main_map{width: 100vw; height: 40vh; background: url(../images/main_map.jpg) no-repeat center; background-size: 100%;}

  /* .board */
  /* #main_content .board{margin-top: 2vh;} */
  #main_content .board h3{margin-bottom: 10px;}

  /* tabs */
  #main_content .board .ui-navbar li .ui-btn{margin-left: 3px;}
  #main_content .board .ui-navbar li:hover .ui-btn{background: rgba(78, 188, 168, 0.6); border-radius: 15px 15px 0 0;}

  /* tab > width, background-color */ /* 높이값 추가 */
  #main_content .board .ui-grid-b > .ui-block-b,
  #main_content .board .ui-grid-b > .ui-block-c,
  #main_content .board .ui-grid-b > .ui-block-a{width: 29%; height: 30px; background-color: rgba(78, 188, 168, 0.3); border-radius: 15px 15px 0 0; margin-bottom: -10px;}


  /* tab > font-style */ /* line-high 수정 */
  #main_content .board .ui-grid-b > .ui-block-a a{color: #333; font-weight: bold; text-align: center; line-height: 30px; padding: 0; font-size: 0.8em;}
  #main_content .board .ui-grid-b > .ui-block-b a, 
  #main_content .board .ui-grid-b > .ui-block-c a{color: #333; font-weight: normal; text-align: center; line-height: 30px; padding: 0; font-size: 0.8em;}
    
  /* tab_content */
  #main_content .board .board_search{background: #fff; border: 1px solid #aaa; height: 40px;}
  #main_content .board input{font-size: 0.9em;}
    

  /* event */
  #main_content .event_b{margin-top: 20px;}
  #main_content .event_b .event_con{margin-top: 10px;}
  #main_content .event_b .event_con .evt_img{text-align: center;}
  #main_content .event_b .event_con .first{margin-left: 4%;}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* 최근검색기록 */

#search_current .ui-field-contain>label {width: 8%; margin: 0;}
#search_content .search_content_wrap ul{position: absolute; right: 0%;}
#search_content .search_content_wrap ul li.cont_search{padding-top:4px ;}
#search_content .search_content_wrap ul .cont_mik{padding-top: 7px;}

#search_content .slist_icon ul { height: 46px; border-top: 1px solid #B1CCC8; padding-top: 14px; }
#search_content .ssearch_icon ul { height: 46px; border-top: 1px solid #B1CCC8; padding-top: 14px; }
#search_content .ssearch_icon ul li{margin-right: 5px;}
#search_content .ssearch_icon ul li:last-child{margin-top: 5px;}
#search_content .search_list ul { height: 45px; border-top: 1px solid #B1CCC8; padding-top: 5px; }
#search_content .slist_icon ul li.slist_icon_arrb a img{padding-top: 5px; }
#search_content .search_list ul li a>img{padding-top: 5px;}
#search_content .search_list ul li p{line-height: 38px; font-size: 0.9em; padding-left: 10px;}
#search_content .search_list ul li>img{padding-top: 10px;}
#search_content .search_content_wrap input#search_txt{color: #aaa;}


/* 이전검색기록 */
#search_before .ui-field-contain>label {width: 8%; margin: 0;}
#search_before .before_content_wrap ul{position: absolute; right: 0%;}
#search_before .before_content_wrap ul li.cont_search{padding-top:4px ;}
#search_before .before_content_wrap ul .cont_mik{padding-top: 7px;}

#before_content .slist_icon ul { height: 46px; border-top: 1px solid #B1CCC8; padding-top: 14px; }
#before_content .ssearch_icon ul { height: 46px; border-top: 1px solid #B1CCC8; padding-top: 14px; }
#before_content .ssearch_icon ul li{margin-right: 5px;}
#before_content .ssearch_icon ul li:last-child{margin-top: 5px;}
#before_content .search_list ul { height: 45px; border-top: 1px solid #B1CCC8; padding-top: 5px; }
#before_content .slist_icon ul li.slist_icon_arrb a img{padding-top: 5px; }
#before_content .search_list ul li a>img{padding-top: 5px;}
#before_content .search_list ul li p{line-height: 38px; font-size: 0.9em; padding-left: 10px;}
#before_content .search_list ul li>img{padding-top: 10px;}
#before_content .before_content_wrap input#before_txt{color: #aaa;}



/* 즐겨찾기 */
/* #like_content{overflow-y: scroll;} */
#like_content .like_group ul{width: 100%; height: 60px; margin-top: 3px;}
#like_content .like_group li{width: 27%; height: 60px;}
#like_content .like_group li:first-child{width: 15%; height: 60px;}
#like_content .like_group li p{float: left;}
#like_content .like_group li .arrbot{margin: 8px;}
#like_content .like_group li:last-child{width: 20%; height: 60px; }
#like_content .like_group span{color: #278BF6; font-weight: bold; padding: 0 3px;}

#like_content .like_left{width: 53%; height: 70px;}
#like_content .like_left .group .midp{padding: 4px 0 0 8px;}
#like_content .like_left .group .smallp{font-size: 0.7em; padding:4px 2px 0 8px;}
#like_content .like_left .group .smallp img{margin-top: 1px;}


#like_content .like_right{width: 30%; height: 70px;}
#like_content .like_right .ui-slider-track .ui-btn.ui-slider-handle {width: 0px; height: 5px; margin: 1px 0 0 -18px; background: #f3f3f3; top: -3px; border: 1px solid #888;} 
#like_content .like_right .ui-field-contain div.ui-slider-switch {width: 3.8em; border-radius: 18px;}
#like_content .like_right .ui-slider-track .ui-btn.ui-slider-handle {width: 5px; height: 5px; margin: 2px 0 0 -15px; background: #f3f3f3; top: -2px; border: 13px solid #fff;}
.like_below{width: 100%; height: 70px; border-bottom: 1px solid #B1CCC8;}
.bott{margin-top: 15px;}


/* ing */
#like_bottom .likebt{position: absolute; bottom: 10vh; left: 50%; transform: translate(-50%);}
#like_bottom .btn_bottom{height: 40px; border: 1px solid #eee; background-color: #f7f9f9; font-size: 1em; font-weight: bold; line-height: 40px;}

/* #like_bottom{clear: both; margin-top: 20px; margin-left: 5%;}
#like_bottom .likebt{width: 400px; height: 300px; text-align: justify; margin-top: 100px; margin-left: 50%; transform: translate(-50%,60%);}
#like_bottom .ui-btn{overflow:visible; line-height: 35px; margin-top: 10px;}
#like_bottom .likebt .btn_bottom{height: 40px; border: 1px solid #eee; background-color: ccc; font-size: 1em; font-weight: bold; line-height: 40px;} */





/* 게시판 3종 세트 */

/* 글 추가 아이콘 (자유게시판, 정보게시판 공통) */
.content .board .icon_add_con{position: fixed; bottom: 70px; right: 5%;}


/* 자유게시판 시작 */
#free_board #free_content .con_h .locate h3{font-size: 0.8em;}

#free_board #free_content .con_h .freeb_sc{position: relative;}
#free_board #free_content .con_h .freeb_sc > .ui-input-text {border-radius: 25px; border: 1px solid #999; padding: 2px; line-height: 12px; max-height: 37px; font-size: 0.9em;}
#free_board #free_content .con_h .freeb_sc a{position: absolute; top: 5px; right: 10px; }
#free_board #free_content .con_h .freeb_sc a img{position: absolute; top: -1px; right: 3px;}

/* 자유게시판 지역 (시, 도) 부분의 다이얼로그 */
#free_locate-listbox.ui-popup.ui-body-inherit {min-width: 0px;
  border-width: 1px; border-style: solid; top: 105px; height: 255px; overflow-y: scroll; width: 162px; }
  #free_locate-listbox.ui-popup .ui-header{min-width: 134px; font-size: 0.55em;}
  #free_locate-button{background: #d8e5e3;}

/* 자유게시판 지역 (시, 구, 군) 부분의 다이얼로그 */
#free_locate2-listbox.ui-popup.ui-body-inherit {min-width: 0px;
  border-width: 1px; border-style: solid; top: 105px; height: 255px; overflow-y: scroll; width: 190px; }

/*   #free_locate2-listbox.ui-selectmenu.ui-popup .ui-header{min-width: 34px; font-size: 0.7em;} */
  #free_locate2-listbox.ui-popup .ui-header{min-width: 134px; font-size: 0.55em;}

  #free_locate2-button {padding: 2px 50px 5px 40px; background: #d8e5e3; margin-left: 25px; } /* padding값 수정 */

 /* .ui-corner-all > .ui-footer:first-child */



/* 8-2 정보 게시판 */
/* #inform_board .content  */
#inform_board #infomb_content .board .ui-grid-a > .ui-block-a,
#inform_board #infomb_content .board .ui-grid-a > .ui-block-b{width: 30%; height: 5vh; background-color: rgba(78, 188, 168, 0.3); border-radius: 15px 15px 0 0;} /* 높이 단위 수정 */

#inform_board #infomb_content .board .ui-grid-a > .ui-block-a a{color: #333; font-weight: bold; text-align: center; line-height: 5vh; padding: 0; font-size: 0.8em;}
#inform_board #infomb_content .board .ui-grid-a > .ui-block-b{margin-left: 10px;}
#inform_board #infomb_content .board .ui-grid-a > .ui-block-b a{color: #333; font-weight: normal; text-align: center; line-height: 5vh; padding: 0; font-size: 0.8em;}

#inform_board #infomb_content .board .inform_search_icon{position: absolute; top: 0px; right: 5%;}

#inform_board #infomb_content .board .key_word{height: 50px; border-top: 1px solid #b1ccc8; position: relative;}
#inform_board #infomb_content .board .key_word ul{overflow: hidden; margin-top: 15px;}
#inform_board #infomb_content .board .key_word ul li{overflow: hidden; float: left; width: 20vw; height: 5vh; background: #fff; border: 1px solid #979797; border-radius: 50px; margin-left: 10px; overflow: hidden;}/* width, hight 단위 vh로 수정 */
#inform_board #infomb_content .board .key_word ul li.on{background: #f7f9f9;}

#inform_board #infomb_content .board .key_word ul li a{line-height: 30px; text-align: center; font-size: 0.8em;}/* 폰트사이즈 수정 */
#inform_board #infomb_content .board .key_word ul li.on a{color: #277467; font-weight: bold;}


/* 8-3 이벤트 게시판 */
/* #event_board .content .event_main_img{margin-top: -18px;} */
/* #event_board .content .event_main_img{position: absolute; top: 50px; transform: translate(0%);} */
#event_board .content .event_search_wrap{margin-top: 20px; position: relative;}
#event_board .content .event_search_wrap .event_search_icon{position: absolute; top: 5px; right: 8%;}
#event_board .content .event_search_wrap .event_mike_icon{position: absolute; top: 8px; right: 2%;}

#event_board .ui-corner-all{border-radius: 50px;}
#event_board .ui-input-text input{padding: 6px 20px;}

#event_board .event_con{margin-top: 20px;}
#event_board .event_con .evt_img{width: 40vw; text-align: center; margin-bottom: 10px; margin-left: 4%;}/* 단위 vw로 수정, 마진 추가 */
/* 마진 삭제 */



/* 공지사항 시작 */

/* 공지사항 겉 테두리 표면, 패딩값(1em 정도) 주면 컨텐츠가 게시판 형태로 보여지게 할 수 있음 */
#notice .ui-content{padding: 0; overflow-x: hidden;}

/* 공지사항 검색바 */
#notice .ui-input-search {border-radius: 25px; left: 4%; width: 260px;}
.noticeSearch #noticeinput { border-radius: 35px; }
#join .ui-grid-a .ui-block-b{width: 45%; margin-left: 9%; background:  #fff; height: 40px; border: 1px solid #efefef; border-radius: 5px; box-shadow: 1px 1px 1px #aaa; margin-top: 7px; line-height: 40px; }
#join .ui-select .ui-btn select {width: 20px;}

.search_container {
    margin-top: 2%;
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    overflow: hidden;
    /* width: 445px; */ /* 전체 너비 */
}

.select_dropdown {
  min-width: 90%; /* 작은 select 박스의 너비 */
  max-width: 88%;
  border: none;
  background: #f9f9f9;
  /* margin: 0px 0px 0px 15px; */
  font-size: 14px;
  outline: none;
  appearance: none; /* 기본 화살표 제거 */
  /* padding: 0px 35px 0px 0px; */
  text-align: left;
  padding-right: 35px;
  margin-left: 15px;
}


#noticeinput {
    flex: 1; /* 남은 공간을 채우도록 설정 */
    border: none;
    padding: 5px 25px;
    font-size: 0.8em;
    outline: none;
    appearance: none; /* 기본 아이콘 제거 */
    -webkit-appearance: none; /* 웹킷 브라우저용 */
    -moz-appearance: none; /* 모질라 브라우저용 */
}

/* 공지사항 접이식 패널 바 부분 */
.notice_panel {background:  #d8e5e3;}
.notice_panel h5 {border: 1px solid #b1ccc8; background: #d8e5e3; border-radius: 0px; font-size: 0.9em; padding: 5px; }
.notice_panel h5 strong{font-size: 0.9em; padding-left: 50px;}
.notice_panel h5 span{font-size: 0.8em; padding-left: 50px;}
.notice_panel p{font-size: 0.8em;}


/* (클립)중요 이미지  */
.notice_panel .panel_important h5:before {content: url(../images/import_btn.png) ; clear: both; display: block;}

.ui-page-theme-a .ui-btn:hover {background-color: #d8e5e3;  }




/* 마이페이지 시작 */
/* 마이페이지 이예경 프로필부분 */
#mypage .mypage_profile h3 {width: 100%; margin: 10px 0 0 10px;}
#mypage .mypage_profile h3 strong{font-size: 0.9em; font-weight: normal; position: absolute; margin: 0 0 0 20px;}
#mypage .mypage_profile h3 span{font-size: 0.7em; font-weight: normal; position: absolute; margin: -20px 0 0 62px;}
#mypage .mypage_profile h3 button{padding: 5px; border-radius: 6px; border: 1px solid #777; background: #ffffff; color: #777; font-size: 0.7em; position: absolute; right: 6%; top: 13%;}
#mypage .mypage_profile h3 button:hover{border: 1px solid #777; background: #eaeaea; color: #999; cursor: pointer;}

#mypage .mypage_listview {position: absolute; }

/* 마이페이지 리스트 부분 */
#mypage ul.mypage_listview {width: 100%; position: absolute; top: 23%;}
#mypage ul.mypage_listview li a{font-size: 0.9em; padding: 13px 20px 15px 55px;}
#mypage .ui-listview > .ui-li-has-icon > .ui-btn > img { max-height: 1.5em; max-width: 1.3em; margin-left: 5px;} 

/* 펼쳐있는 안내설정 */
#mypage ul.mypage_listview li.mypage_listview_guide {background: #eaeaea; }
#mypage ul.mypage_listview li.mypage_listview_guide a{font-size: 0.9em; padding: 13px 20px 15px 15px;} 
#mypage ul.mypage_listview li.mypage_listview_guide a span{padding-left: 40px;} 
#mypage ul.mypage_listview li.mypage_listview_guide .ui-field-contain {padding: 10px; margin: 0em;}
#mypage ul.mypage_listview li.mypage_listview_guide .ui-field-contain > label {padding: 5px; width: 53%;  margin: 0em 2em 1em 2.5em;}

/* on off바 핸들부분 */
#mypage ul.mypage_listview li .ui-slider-track .ui-btn.ui-slider-handle {width: 0px;height: 5px; margin: 1px 0 0 -18px; background: #f3f3f3; top: -3px; border: 1px solid #888;} 

#mypage ul.mypage_listview .ui-field-contain div.ui-slider-switch {width: 3.8em; border-radius: 18px;}

/* 마이페이지 투댑스 */
#mypage .mypage_listview .mypage_listview_content { display: none; padding: 15px 0px 15px 55px; background-color: #eaeaea; border: 1px solid #ddd; font-size: 0.8em; }








/* 환경설정 시작 */

/* 환경설정 리스트 부분 */
#setting_content ul.setting_listview h3{background: #dedddd; font-size: 0.9em; padding: 25px 22px 10px 20px; color: #666;}
#setting_content ul.setting_listview h3.h3_stress{color: #333;}
#setting_content ul.setting_listview {width: 100%; position: absolute; top: 11.5%;}

#setting_content ul.setting_listview li a{font-size: 0.8em; padding: 13px 20px 15px 20px;}
#setting_content .ui-listview > .ui-li-has-icon > .ui-btn > img { max-height: 1.5em; max-width: 1.3em; margin-left: 5px;} 

/* 환경설정 투댑스 */
#setting_content .setting_listview .setting_listview_content { display: none; padding: 15px 0px 15px 20px; background-color: #f2f2f2; border: 1px solid #ddd; font-size: 0.75em;}

/* onoff바 메뉴 */
#setting_content ul.setting_listview div.setting_listview_guide {height: 8vh; padding-top: 5px;}
#setting_content ul.setting_listview div.setting_listview_guide:hover {background: #d8e5e3;}
#setting_content ul.setting_listview div.setting_listview_guide a{font-size: 0.95em; padding: 13px 20px 15px 15px;} 
#setting_content ul.setting_listview div.setting_listview_guide a h5{padding: 5px 0 0 5px; font-weight: normal; } 
#setting_content ul.setting_listview div.setting_listview_guide .ui-field-contain {padding: 10px; margin: 0em;}
#setting_content ul.setting_listview div.setting_listview_guide .ui-field-contain > label {padding: 5px; width: 53%;  margin: 0em 2em 1em 2.5em;}

/* on off바 핸들부분 */
#setting_content ul.setting_listview .ui-slider-track .ui-btn.ui-slider-handle {width: 0px; height: 5px; margin: 1px 0 0 -18px; background: #f3f3f3; top: -3px; border: 1px solid #888;} 
#setting_content ul.setting_listview .ui-field-contain div.ui-slider-switch {width: 3.8em; border-radius: 18px; top: -35px; right: -15%;}


